table {
    margin-top: 100px;
    margin-left: 200px;
    width: 80%;
}
.addButton
{
 width: 150px; 
 height: 30px; 
 margin-left: 33px; 
 border-color: #7ff0b2; 
 background-color: rgb(212, 250, 231); 
 color: #1e9151;
}