<div mat-dialog-content>
    <form [formGroup]="editForm" fxLayout="column">
        <div>
            <h3 mat-dialog-title style="text-align: center;"> Employee Attendance Details</h3>
        </div>
        <div>
            <span>User ID</span>
            <div>
                <mat-form-field style="width: 100;" appearance="outline">
                    <input matInput formControlName="employeeId">
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>Present Days</span>
            <div>
                <mat-form-field width="100" appearance="outline">
                    <input matInput formControlName="presentDay">
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>Absent Days</span>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="absentDay">
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>Daily Salary</span>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="dailySalary">
                </mat-form-field>
            </div>
        </div>
       
        <button (click)="onSubmit()" class="loginbutton" style=" width:100px; color: white;">{{actionBtn}}</button>
        <button (click)="OnClose()" class="loginbutton" mat-dialog-close
            style="margin-left: 180px;margin-top: -38px; background-color: red; width:100px; color: white;">Close</button>

    </form>
</div>