@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
mat-toolbar{   
    justify-content: space-between; 
}
.menubutton{
    background-color: white;
    outline: none;
}

.menu{
    display: flex;
    align-items: center;
}

.endIcons{
display: flex;
padding-right: 10px;
}
   
mat-sidenav {
    width: 220px;
    background-color: rgb(212, 250, 231);
    border-right: 1px solid rgb(212, 250, 231);
}

.main
{
    min-height: 600px;
    background-color: white;
}
mat-list-item:hover
{
    background-color: #1e9151 !important;
    border-radius: 50px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 16px;

}

