
<h3 mat-dialog-title style="text-align: center;"> Edit Employee Details</h3>

<div mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-evenly start" >
        <form [formGroup]="editForm" fxLayout="column">
            <div>
                <span>User Name</span>
                <div>
                    <mat-form-field style="width: 610px;" appearance="outline">
                        <input matInput formControlName="fullName">
                    </mat-form-field>
                </div>
            </div>
            <div style="margin-left: 330px; ">
                <span>EmailId</span>
                <div>
                    <mat-form-field width="100" appearance="outline">
                        <input matInput formControlName="email">
                    </mat-form-field>
                </div>
            </div>

            <div style="margin-top: -80px;">
                <span>Mobile Number</span>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="mobileNumber">

                    </mat-form-field>
                </div>
            </div>
            <div style="margin-left: 330px;">
                <span>Profile image</span>
                <div>
                    <mat-radio-group formControlName="image">
                        <mat-radio-button value="1"><img src="../../../assets/P1.png">
                        </mat-radio-button>
                        <mat-radio-button value="2"><img src="../../../assets/P2.png">
                        </mat-radio-button>
                        <mat-radio-button value="3"><img src="../../../assets/P3.png">
                        </mat-radio-button>
                        <mat-radio-button value="4"><img src="../../../assets/P4.png">
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div style="margin-top: -80px;">
                <span>Gender</span>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-select disableRipple formControlName="gender">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <span>Department</span>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-select disableRipple formControlName="department">
                            <mat-option value="Computer">Computer</mat-option>
                            <mat-option value="HR">HR</mat-option>
                            <mat-option value="Sales">Sales</mat-option>
                            <mat-option value="Others">Others</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div style="margin-left: 330px;margin-top: -87px;">
                <span>Start Date</span>
                <div>
                    <mat-form-field style="width: 280px;" appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput formControlName="date" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <span>Note</span>
                <div>
                    <mat-form-field style="width: 610px;" appearance="outline">
                        <input matInput formControlName="note">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <button (click)="onSubmit()" class="loginbutton" style=" width:250px; color: white;">Submit</button>
        <button (click)="onSubmit()" class="loginbutton" style="margin-left: 335px;margin-top: -38px; background-color: red; width:250; color: white;">Close</button>

    </div>
</div>